@import "../../../sass/variables"

.skill-item-container
  .skill-item-wrapper
    display: flex
    align-items: center
    margin: 1rem 0
    .icon-wrapper
      padding-right: 1rem
      .skill-icon
        font-size: 2rem
        max-width: 30px
        max-height: 30px
        .tech-title
          font-size: 1.1rem

#angular
  color: $angular-brand

#react
  color: $react-brand

#html
  color: $html-brand

#css
  color: $css-brand

#sass
  color: $sass-brand