$gray-darkest:    #142236
$dark-grey:       #616161
$light-grey:      #f5f6f7
$charcoal:        #252934
$highlight:       #E31B6D
$primary:         #04C2C9
$secondary:       #06BC9B

$angular-brand:   #b52e31
$react-brand:     #00d8ff
$html-brand:      #e34f26
$css-brand:       #2A93E8
$sass-brand:      #CD669A

$font-regular: 'Montserrat Regular'
$font-light: 'Montserrat Light'
$font-medium: 'Montserrat Medium'
$font-semiBold: 'Montserrat SemiBold'
$font-bold: 'Montserrat Bold'