$gray-darkest:    #142236
$charcoal:        #252934
$highlight:       #E31B6D
$primary:            #04C2C9

$font-regular: 'Montserrat Regular'
$font-light: 'Montserrat Light'
$font-medium: 'Montserrat Medium'
$font-semiBold: 'Montserrat SemiBold'
$font-bold: 'Montserrat Bold'