@import "../../../sass/variables"

.project-thumbnail-container
  padding-bottom: 2rem
  .thumbnail-wrapper
    display: flex
    flex-direction: column
    cursor: pointer
    text-decoration: none
    .project-img
      width: 360px
      height: 250px
      border-radius: 3px
      border: .5px solid $dark-grey
      padding: .2rem
    .summary-wrapper
      padding-top: .5rem
      font-size: 1.3em
      font-family: $font-semiBold
      .thumbnail-title
        color: $charcoal
        display: flex
        align-items: center
        .fa-chevron-circle-right
          color: $secondary
          padding-left: 10px

.project-grid
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  padding-bottom: 4rem