@import "../../sass/variables"
@import "../../sass/buttons"

.template-content, .template-sidebar-box
  background-color: $light-grey
  padding: 20px
  border-radius: 3px

.template-sidebar-box, .template-sidebar-box-tech
  margin-bottom: 1rem
  margin-left: 1rem
  text-align: center
  @media (max-width: 900px)
    margin-left: 0
    margin-top: 1rem

.skill-list-container
  text-align: left
  @media (max-width: 768px)
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
  .skill-ul
    list-style: none
    padding-left: 0
    @media (max-width: 768px)
      padding: 0 .4rem

.template-title
  color: $secondary
  margin: 40px 0 20px

.template-text
  color: $dark-grey

hr
  border: .5px solid $secondary

.template-container
  display: flex
  flex-direction: row
  padding: 0 1rem 2rem
  @media (max-width: 1000px)
    flex-direction: column
  @media (max-width: 768px)
    padding-top: 1rem
  .template-content
    flex: 2
    .img-project-view
      max-width: 300px
      width: 100%
      position: relative
      @media (max-width: 599px)
        max-width: initial
    .back-link
      text-decoration: none
      display: block
      padding-bottom: 15px
      font-family: $font-semiBold
      color: $charcoal
      transition: transform 0.2s ease
      position: relative
      &:hover .fa-chevron-circle-left
        transform: translateX(-10px)
      .fa-chevron-circle-left
        color: $secondary
        padding-right: 10px
        transition: transform 0.2s ease
    .source-code
      margin-top: 1.5rem
      .git-btn
        @extend %btn-secondary
        &:hover .fa-github
          -webkit-transform: rotate(360deg)
          transform: rotate(360deg)
        .fa-github
          margin-right: 5px
          transform: rotate(0)
          transition: 0.4s ease-in-out
          -webkit-transition: 0.4s ease-in-out
          -moz-transition: 0.4s ease-in-out


  .template-sidebar
    flex: 1
    .template-sidebar-box
      .btn-wrapper
        padding: 50px 0
        .template-web-link
          @extend %btn-secondary
          &:hover .fa-arrow-circle-right
            transform: translateX(10px)
          .fa-arrow-circle-right
            padding-left: 25px
            transition: transform 0.2s ease

@media (max-width: 599px)
  .source-code, .template-title
    text-align: center

.react
