@import "../../sass/variables"

.header-title
  font-family: $font-semiBold
  font-size: 2.5em
  text-align: center

.header-bar
  width: 70px
  height: 4px
  background-color: $charcoal
  margin: 20px auto 100px