@import "../../sass/variables"

.header-container
  text-align: center
  .header-title
    letter-spacing: 2px
    line-height: 1.6
    margin: 20px auto 30px
    padding: 0 40px
    position: relative
    display: inline-block
    text-align: center
    text-transform: uppercase
  .header-title::before, .header-title::after
    background: none repeat scroll 0 0 #666666
    content: ""
    height: 2px
    position: absolute
    top: 25px
    width: 30px
  .header-title::before
    left: 0
  .header-title::after
    right: 0
  .header-sub
    background-color: rgba(59, 63, 80, 0.5)
    border-radius: 5px
    color: white
    padding: 0 10px
    margin-left: 1rem
